<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="1.0.2" targetFramework="net451" />
  <package id="AutoFixture" version="3.30.2" targetFramework="net451" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.30.2" targetFramework="net451" />
  <package id="AutoFixture.Idioms" version="3.30.2" targetFramework="net451" />
  <package id="AutoFixture.Xunit" version="3.30.2" targetFramework="net451" />
  <package id="F2F.Testing.Xunit" version="1.0.11" targetFramework="net451" />
  <package id="F2F.Testing.Xunit.FakeItEasy" version="1.0.11" targetFramework="net451" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="Microsoft.Reactive.Testing" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net471" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
</packages>